<a href="https://colab.research.google.com/github/AmnaShaheena/Machine-Learning-CSH4144-Practical/blob/main/Day01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Basic Print Statements

In [1]:
print('Hello World')

Hello World

In [2]:
x=5
print(x)

5

In [3]:
x='Hi'
print(x)

Hi

In [4]:
print(type(x))

<class 'str'>

# 2.Variable Assignment and Data Types

In [5]:
x=int(5)
x=str('hello')
x=6.00
print(type(x))

<class 'float'>

In [6]:
a=5
A='Salary'
print(a)
print(A)

5
Salary

# 3. Variable Naming and Case Sensitivity

In [7]:
num = 5
_num1 = 5
num_1 = 5
1num=6

SyntaxError: invalid decimal literal (ipython-input-3101156940.py, line 4)


Rules for Python Variable Names

1)Must start with a letter (a–z, A–Z) or underscore (_)

2)Can contain letters, digits, and underscores after the first character

3)Cannot be a Python keyword (like if, for, class, etc.)

In [8]:
age = 8
Age = 6
AGE = 10

print(age)
print(Age)
print(AGE)

print(age + Age + AGE)

8
6
10
24

Case-sensitive (age and Age are different variables)

# 4.Type Error Example

In [9]:
x = 'Hello'
age = 8
print(x + age)

TypeError: can only concatenate str (not "int") to str

# 5.Funtions

In [10]:
# Arithmetic Functions
def add(num1, num2):
    return num1 + num2

def sub(num1, num2):
    return num1 - num2

def mul(num1, num2):
    return num1 * num2

def div(num1, num2):
    return num1 / num2

x = int(input('Enter the first number: '))
y = int(input('Enter the second number: '))

print('Addition:', add(x, y))
print('Subtraction:', sub(x, y))
print('Multiplication:', mul(x, y))
print('Division:', div(x, y))

Enter the first number: 8
Enter the second number: 3
Addition: 11
Subtraction: 5
Multiplication: 24
Division: 2.6666666666666665

In [11]:
x = 'Good'  # global variable
def myfun():
    print(x)

myfun()

Good

In [12]:
def myfun_local():
    y = 'Hi'
    print(y)

myfun_local()

Hi

In [13]:
def myfunc(fname):
    print("Hi I am", fname)

myfunc('Shaheena')

Hi I am Shaheena

# 6. Conditional Statements

In [16]:
#if condition
a = 44
b = 7

if a > b :
    print('a greater than b')
else:
    print('b greater than a')

a greater than b

In [17]:
#nested if
a = 7
b = 7

if b > a:
    print('b greater than a')
elif b == a:
    print('b equal a')
else:
    print('a greater than b')

b equal a

# 7. Loops

In [18]:
# While loop
i = 1
while i < 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9

In [19]:
# For loop with list
fruits = ['apple','orange','mango']
for x in fruits:
    print(x)

apple
orange
mango

In [20]:
# For loop with string
for x in 'banana':
    print(x)

b
a
n
a
n
a

In [21]:
# For loop with break
for x in fruits:
    print(x)
    if x == 'orange':
        break

apple
orange

In [22]:
# For loop with continue
for x in fruits:
    if x == 'orange':
        continue
    print(x)

apple
mango

In [23]:
# For loop with range
for x in range(1, 7):
    print(x)

1
2
3
4
5
6

In [24]:
# Nested for loop
animal = ['cat','dog','lion']
name = ['bob','alice','oscar']
for x in animal:
    for y in name:
        print(x, y)

cat bob
cat alice
cat oscar
dog bob
dog alice
dog oscar
lion bob
lion alice
lion oscar

# 8. Statistics with statistics Module

In [25]:
from statistics import mean, median, mode, stdev

data = [5, 10, 10, 20, 25, 30, 30, 40]

print('Data:', data)
print('Mean:', mean(data))
print('Mode:', mode(data))
print('Median:', median(data))
print('Standard Deviation:', stdev(data))

Data: [5, 10, 10, 20, 25, 30, 30, 40]
Mean: 21.25
Mode: 10
Median: 22.5
Standard Deviation: 12.174328963613794